<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nighthawk Acoustic Duo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap_themes/bootstrap-slate.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/site.css"/>
    <script src="dist/jquery.min.js"></script>
    <script src="dist/angular.min.js"></script>
    <script src="dist/bootstrap.min.js"></script>
    <script src="dist/angular-route.min.js"></script>
    <script src="app/app.js"></script>
</head>

<body ng-app="nighthawkApp">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Nighthawk Acoustic Duo</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-click="setHomeActive()" ng-class="{active: isHomeActive}"><a href="#/">Home</a></li>
                    <li ng-click="setScheduleActive()" ng-class="{active: isScheduleActive}"><a href="#schedule">Schedule</a></li>
                    <li ng-click="setAboutActive()" ng-class="{active: isAboutActive}"><a href="#about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="angularView" ng-view></div>
</body>

</html>