<div class="viewContainer">

    <h2 class="yellow-text">Demos</h2>

    <div ng-repeat="demo in demos track by $index">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" ng-click="toggleOpen($index)" data-target="#collapsable-{{$index}}">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-music lightblue-text"></span>
                            <span > {{demo.title}} </span>
                            <i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': !demo.isOpen,
                                                                       'glyphicon-chevron-up': demo.isOpen}" aria-hidden="true"></i>
                        </h4>
                    </div>
                    <div id="collapsable-{{$index}}" class="panel-body collapse demo-panel">
                        <audio controls preload="metadata">
                            <source ng-src="{{demo.filePath}}" type="audio/mpeg"> Your browser does not support the audio tag.
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //When opening a panel, close all other panels.
    $(document).on('show.bs.collapse', '.demo-panel', function() {
        var $otherPanels = $('.panel-body').not(this).collapse('hide');
    });

    //When a panel is closed, pause all music. 
    $(document).on('hide.bs.collapse', '.demo-panel', function() {
       $('audio').each(function(){
           this.pause();
       }); 
    });
</script>