

#mainDiv {
    background-image: url("../images/stock-mic.jpg"); 
    width: 100vw;
    height: 92.2vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} 

.scheduleContainer
{
    background-image: url("../images/mic-bg.jpg"); 
    width: 100vw;
    height: 92.2vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav.navbar {
    margin-bottom: 0;
}

div.viewContainer{
    padding: 10px;
}

h1 {
    padding-left: 10px;
}

h2 {
    color: yellow;
}

.panel-heading h4 {
    font-weight: bold;
    color: white;
}

.comment {
    font-style: italic;
    color: yellow;
}

.angularView
{
 margin-top: 45px;
}

.panel{
    opacity: .95;
}
.panel-border{
    border-style: solid;
    border-color: white;
    color: white;
    padding: 10px;
}
.panel-body{
    color: white;
}

@media (max-width: 600px) {
    body, .scheduleContainer{
        height: 100vh
    }
}
