body{
    background-image: url("../images/broken_noise.png");
}

#mainDiv {
    background-image: url("../images/stock-mic2.jpg");
    min-height: 92.9vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.scheduleContainer {
    background-image: url("../images/mic-bg.jpg");
    min-height: 92.9vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav.navbar {
    margin-bottom: 0;
}
.viewContainer {
    padding: 10px;
}
h1 {
    padding-left: 10px;
}
.panel-heading h4 {
    font-weight: bold;
    color: white;
}
.comment {
    font-style: italic;
    color: yellow;
}
.angularView {
    margin-top: 45px;
}
.panel,
.well {
    opacity: .95;
}
.panel-border {
    border-style: solid;
    border-color: white;
    color: white;
    padding: 10px;
}
.panel-body {
    color: white;
}
.bold {
    font-weight: bold;
}
.center-text {
    text-align: center;
    text-align: center;
}
.red-text {
    color: #ff3333;
}
.darkyellow-text {
    color: #ffdb4d;
}
.yellow-text {
    color: #ffff00;
}

.lightblue-text,
.scheduleContainer a:visited
 {
    color: #5DADE2;
}
#contactPanel {
    text-align: center;
}
section.about img {
    margin-right: 30px;
}
.googleLink {
    font-size: small;
}
.appLink{
    text-decoration: underline;
    color: #2980B9;
}
a#navTitle:before{
    content: "NighthawK Acoustic/Electric Duo";
}

section.songsContainer button.close{
    color: white;
    font-size: 2em;
}

.ng-hide-add {
    animation:0.5s slideOutDown ease; 
}

.ng-hide-remove {
    animation:0.5s slideInUp ease; 
}

@media (min-width: 992px) {
    .center-medium {
        text-align: center;
    }
}
@media (max-width: 353px) {
a#navTitle:before{
    content: "NighthawK Duo";
}
}